@import "../../styles/abstract/variables";
@import "../../styles/base/functions";
.profile__container {
    // position: relative;
    
    .avatar__actions {
        padding: 0 37px;
        display: flex;
        column-gap: 22px;
        align-items:center;
        .avatar {
            
        }
        .actions {
            display: flex;
            flex-grow: 1;
            flex:1;
            align-items: center;
            justify-content: center;
            // column-gap: 1px;
        }

    }

    .personal__security {
        margin-top: pxToRem(95);
        .tab__container:nth-child(1) {
            margin-right: pxToRem(21.75);
        }
        .tab__container {
            // check label color color: #1B365C;
            .tab__option__input:checked + label {
                border-bottom: 1px solid rgba(0, 0, 0, 0.12);
                color: #1B365C;
            }
            // .tab__option__input:checked ~ .tab__contents > .item {
            //     display: block;
            // }
            input[data-name="personal-info"]:checked ~ .tab__contents > div[data-name="personal-info"],
            input[data-name="security"]:checked ~ .tab__contents > div[data-name="security"] {
                display: block;
            }
            
            label {
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 16px;
                letter-spacing: 1.25px;
                text-transform: uppercase;
                color: rgba(0, 0, 0, 0.54);
                padding: 15px 0;
                
            }
            label:not(:nth-child(1)) {
                padding: 15px calc(23.37px /2);
            }
            label:nth-child(1) {
                display: pxToRem(21.75);;
            }
            .tab__contents {
                margin-top: pxToRem(40.53);

                .item {
                    display: none;
                }
            }
        }
    }
    .actions__bottom {
        position: absolute;
        bottom: 1px;
        width: 100%;
        button {
            width: 100%;
            
        }
    }
}