@import "@pasal/common-style/styles/base/functions.scss";
@import "@pasal/common-style/styles/abstract/variables.scss";

.addfebric__container {
  width: calc(100vw - $sidebar-width);
  height: 100vh;
  display: flex;
  justify-content: center;


  .form__container {
    max-width: pxToRem(834.21);
    width: 100%;
   
   
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    .form__section {
        background-color: $light;
        padding: pxToRem(48);
    }

    .row {
        display: flex;
        flex-direction: column;
        row-gap: calc(33px); 
        width: 100%;
        .title {
            font-style: normal;
            font-weight: 500;
            font-size: 28px;
            line-height: 150%;
            /* or 42px */
            font-family: $secondary-font-family;
            


            /* Dark-1 */

            color: #1A1A1C;

        }
        .form__row {

            display: flex;            
            column-gap: 1rem;
            flex-basis: 100%;

            .febric__media {
                display: flex;
                // align-items: center;
                // column-gap: 8px;
                .febric__image {
                    display: flex;
                    align-items: center;
                    column-gap: 8px;
                    background-color: #EFBB40;
                    padding: 19px;
                    font-family: $secondary-font-family;
                    font-weight: 700;
                    
                    span:nth-child(2) {
                        font-size: 14px;
                        line-height: 17px;
                    }
                }
            }
            
        }
        
    }
    .button__row {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-top: calc(49px - 1rem);
        .actions {
            // display: flex;
        }
        // 
        // display: flex;
        // justify-content: flex-end;
    }
  }
}

.form__row > div {
    flex:1;
}

