$default-font-family: 'Poppins', sans-serif;
$default-font-family: 'Poppins', sans-serif;

$gray:#848484;
$light-gray: #E5E5E5;
$light-gray1: #F5F5F5;
$light-gray2: #00000073;
$light-gray3: #EEEEEE;
$yellow: #EFBB40;

// Media screens sizes
$bg-large-1: 85.375rem;
$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px
$bp-medium: 51.25em; // 900px
$bp-700: 43.75em; // 700px
$bp-small: 40.625em; // 600px
$bp-smallest: 31.25em; // 500px
$small-desktop-height: 48em; // 768px

$left-menu-width: 260; // px