@import "@pasal/common-style/styles/base/functions.scss";
@import "@pasal/common-style/styles/abstract/variables.scss";


.febric__container {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;

    .row {
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;

        .title {
            margin-right: auto;
            font-family: $secondary-font-family;
        }

        .table__container {
            width: 100%;
            .filters {
                display: flex;
                justify-content: flex-end;
                padding: 1rem 0;
            }
            .pagination {
                display: flex;
                justify-content: flex-end;
                padding: 1rem 0;
                font-family: $secondary-font-family;
            }
        }

    }
}